/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @import 'https://fonts.googleapis.com/css?family=Lato';

 body {
   font-family: Lato;
   font-size: 15px;
 }
 
 * {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
 }
 
 h1 {
   font-size: 1.5em;
   font-weight: 400;
   text-align: center;
 }
 
 #chartdiv {
   max-width: 1100px;
   height: 400px;
   border: 1px solid #ddd;
   margin: 0 auto;
 }
 
 #info {
   max-width: 1100px;
   border: 1px solid #ddd;
   margin: 10px auto;
   padding: 5px 8px;
 }



body{
  background-color: rgb(14,28,49); background: -moz-radial-gradient(center, ellipse cover, rgba(14,28,49,1) 20%, rgba(54,76,108,1) 100%); background: -webkit-radial-gradient(center, ellipse cover, rgba(14,28,49,1) 20%,rgba(54,76,108,1) 100%); background: radial-gradient(ellipse at center, rgba(14,28,49,1) 20%,rgba(54,76,108,1) 100%);top:0px; left:0px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; width:100%; height:100%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.circle-frame {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-color: tan;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  width: 70px; 
  height: 50px; 
  left: 25px;
  top: -45px;
  padding-top: 0%; 
  float: left; 
}

.card-title {
  position: relative;
  left: 125px;
}

.userPageStory {
  position: relative;
  left: -55px;
  -webkit-text-size-adjust: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4em;
  padding: 3em;
}
#login {
  background-color: blanchedalmond;
  position: relative;
  top: 100px;
  padding: 60px;
  width: 600px;
  border-radius: 25px;
}
#loginform {
  position: relative;
  left: 90px;
  width: 200px;
}
#textform{
position: relative;
left: 150px;
}
.profilePic {
  height: 200px;
  width: 200px;
}
#form {
position: relative;
left: 25px;
width: 100%;

}

#submit {
  background-color:#26a69a;
  color: white;
  outline-color: black;
  position: relative;
  left: 20px;
}
#createUser {
  background-color: blanchedalmond;
  position: relative;
  align-content: center;
  top: -25px;
  padding: 20px;
  width: 500px;
  border-radius: 25px;
}

.worldMap {
  height: 300px;
  width: 400px;
}

.userPageStory {
    display: block;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.storyPic {
  margin: 10px;
}

.storyImg {
  padding: 10px;
}

