/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @import 'https://fonts.googleapis.com/css?family=Lato';

 body {
   font-family: Lato;
   font-size: 15px;
 }
 
 * {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
 }
 
 h1 {
   font-size: 1.5em;
   font-weight: 400;
   text-align: center;
 }
 
 #chartdiv {
   max-width: 1100px;
   height: 400px;
   border: 1px solid #ddd;
   margin: 0 auto;
 }
 
 #info {
   max-width: 1100px;
   border: 1px solid #ddd;
   margin: 10px auto;
   padding: 5px 8px;
 }



body{
  background-color: rgba(54,76,108,1) 100%); background: -webkit-radial-gradient(center, ellipse cover, rgba(14,28,49,1) 20%,rgba(54,76,108,1) 100%); background: radial-gradient(ellipse at center, rgba(14,28,49,1) 20%,rgba(54,76,108,1) 100%);top:0px; left:0px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; width:100%; height:100%;
  font-family: Lato;
  font-size: 15px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.circle-frame {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-color: tan;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  width: 70px; 
  height: 50px; 
  left: 25px;
  top: -45px;
  padding-top: 0%; 
  float: left; 
  animation-name: bounceIn;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#searchSubmit {
  animation-name: bounceIn;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#card1 {
  border-radius: 25px;
  display: block;
  height: 175px;
    margin: auto;
    animation-name: bounceIn;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  
}
.card-content {
  position: relative;
  top: -35px;
}
.card-action{
  position: relative;
  top: -100px;
}


.responsive-img {
 
    animation-name: bounceIn;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
.card-stacked{
  
    animation-name: bounceIn;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.card-panel.white {
  
    animation-name: bounceIn;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
.card-image {
 
 
    animation-name: bounceIn;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
.card.horizontal {
  
  
    animation-name: bounceIn;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

#logout {
  /* border-radius: 5px;
  font-weight:100; font-style:normal; text-decoration:none; mix-blend-mode:normal; padding-top:5px; padding-right:5px; border-bottom:5px solid #eff0eb; padding-bottom:5px; padding-left:5px; font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color:#ffffff; background:#068dfc; border-radius:100px; font-size:12px;" */
    margin: auto;
    animation-name: bounceIn;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  
}
.card-title {
  position: relative;
  left: 125px;
  top: 35px;
}

#cardTitle{
  background-color: #2196F3;
  width: 225px;
  border-radius:50px;
  padding: 5px;
  text-align: center;

}
#navbar {
  border-radius:50px; font-size:12px;"
  margin: auto;
  animation-name: bounceIn;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#wrapper {
  border-radius:100px; font-size:12px;"
    margin: auto;
    animation-name: bounceIn;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.userPageStory {
  position: relative;
 top: 5px;
  -webkit-text-size-adjust: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4em;
  padding: 3em;
}
#login {
  background-color: blanchedalmond;
  position: relative;
  top: 100px;
  padding: 60px;
  width: 600px;
  border-radius: 25px;
  display: block;
    margin: auto;
    animation: hammer 5s  2s linear infinite;
 }
@keyframes login {
    0%    { transform: rotateY(0deg);  }
    100%  { transform: rotateY(360deg);}
}
#loginform {
  position: relative;
  left: 90px;
  width: 200px;
}
#textform{
position: relative;
left: 150px;
}
.profilePic {
  height: 200px;
  width: 200px;
}
#form {
position: relative;
left: 25px;
width: 100%;

}

#submit {
  background-color:#26a69a;
  color: white;
  outline-color: black;
  position: relative;
  left: 20px;
}
#createUser {
  background-color: blanchedalmond;
  position: relative;
  align-content: center;
  top: -25px;
  padding: 20px;
  width: 500px;
  border-radius: 25px;
}

.worldMap {
  height: 300px;
  width: 400px;
}

.userPageStory {
    display: block;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.storyPic {
  margin: 10px;
}

.storyImg {
  padding: 10px;
}

.countrySearch {
  margin-left: 27% !important;
  margin-right:20%
}

